<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>资料准备系统</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script type="text/javascript" language="javascript">
        function logout() {
            $.ajax({
                url: '/passport/dologout',
                data: {
                },
                dataType: 'json',
                type:'post',
                success: function (data) {
                    if (data && data.result) {
                        window.location.href = '/passport/login';
                    } else {
                        layer.msg(data.errorMsg);
                    }
                }
            })
        }
    </script>
</head>
@{ 
    string controllerName = ViewContext.RouteData.Route.GetRouteData(this.Context).Values["controller"].ToString();
    controllerName = controllerName == null ? string.Empty : controllerName.ToLower();
    string actionName = ViewContext.RouteData.Route.GetRouteData(this.Context).Values["action"].ToString();
    actionName = actionName == null ? string.Empty : actionName.ToLower();
}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">资料准备系统</div>
            @*<ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">其他菜单</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它菜单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">菜单A</a></dd>
                    </dl>
                </li>
            </ul>*@
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        当前用户:@(FlightWeb.Common.UserHelper.GetUserName())
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">个人资料</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:void(0);" onclick="logout()">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="@(controllerName == "flight" ? "layui-this" : string.Empty)" href="/flight/index">航班计划</a>
                    </li>
                    <li class="layui-nav-item">
                        <a class="@(controllerName == "data" ? "layui-this" : string.Empty)" href="/data/index">航班资料</a>
                    </li>
                    <li class="layui-nav-item">
                        <a class="@(controllerName == "system" ? "layui-this" : string.Empty)" href="/system/index">系统配置</a>
                    </li>
                    <li class="@(controllerName == "user" ? "layui-nav-item layui-nav-itemed" : "layui-nav-item")">
                        <a href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd class="@(controllerName == "user" && actionName == "index" ? "layui-this" : string.Empty)"><a href="/user/index">用户信息</a></dd>
                            <dd class="@(controllerName == "user" && actionName == "userprivileges" ? "layui-this" : string.Empty)"><a href="/user/userprivileges">用户权限</a></dd>
                            <dd class="@(controllerName == "user" && actionName == "privilegesgroup" ? "layui-this" : string.Empty)"><a href="/user/privilegesgroup">权限组</a></dd>
                            <dd class="@(controllerName == "user" && actionName == "organization" ? "layui-this" : string.Empty)"><a href="/user/organization">组织机构</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            @RenderBody()
        </div>

        @*<div class="layui-footer">
            © Copyright 民航数据通信有限责任公司
        </div>*@
    </div>
    <script type="text/javascript" language="javascript">
        $(function () {
            //导航的hover效果、二级菜单等功能，需要依赖element模块
            layui.element.render();
            layui.form.render();
        })
    </script>
</body>
</html>
